{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block body %}
<div class="container">
    {% if date.role == 'admin' %}
<h1>Имя: 👑{{ date.username }}👑</h1>
    {% else %}
    <h1>Имя: {{ date.username }}{% endif %}</h1>
    <div class="container md-10">
    <img src="/static/images/{{ date.id }}.jpg" height="213" width="213"
         alt="Загрузите аватар">
                <a href="/upload" class="btn btn-success"><h4>Загрузить аватар</h4></a>
    <a href="/change_login/{{ date.id }}" class="btn btn-warning"><h4>Сменить
        логин</h4></a>
    <a href="/change_password/{{ date.id }}" class="btn btn-warning"><h4>Сменить
        пароль</h4></a>

        </div>
<h1>Дата регистрации: {{ date.reg_date.date() }}</h1>
<h2>Посты:</h2>
    {% if posts|length > 0 %}
        {% for el in posts %}
        <div class="container alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
            <a href="/posts/{{ el.id }}/update" class="btn btn-success">
            Редактировать</a>
            <a href="/posts/{{ el.id }}/delete" class="btn btn-danger">
            Удалить</a>
        </div>
        {% endfor %}
    {% else %}
    <p>Почему ты еще не сделал пост? :'(</p>
    {% endif %}
    <h2>Редактированные посты:</h2>
        {% if updated_posts|length > 0 %}
        {% for el in updated_posts %}
        <div class="container alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
            <a href="/posts/{{ el.id }}/update" class="btn btn-success">
            Редактировать</a>
            <a href="/posts/{{ el.id }}/delete" class="btn btn-danger">
            Удалить</a>
        </div>
        {% endfor %}
    {% else %}
    <p>Почему ты ещё не редактировал другие посты? :'(</p>
    {% endif %}
    </div>
{% endblock %}