{% extends 'base.html' %}

{% block title %}
Все профили пользователей
{% endblock %}

{% block body %}

<div class="container">
        <h1>{{ msg }}</h1>
            <form method="post">
    <div class="inline">
        <input type="text" name="find_profile" id="profile"
               class="form-control"
               placeholder="Введите имя профиля"><br>
        <input type="submit" class="btn btn-success width" value="Искать">
        {% if flag_btn_back %} <a href="/all_profiles"
                                  class="btn btn-warning">Вернуться назад</a>{%
        endif %}
    </div>
            </form>

    <div class="wrapper margin">
    {% if profiles|length > 0 %}
        {% for el in profiles %}
        <div class="alert alert-info left_block">
            <img src="/static/images/{{ el.id }}.jpg" height="175"
                     width="175"
         alt="">
            <h2>{{ el.username }}</h2>
            <p>{{ el.reg_date.date() }}</p>
            <a href="/profile/{{ el.username }}"
               class="btn btn-warning">Посмотреть
                профиль</a>
        </div>
        {% endfor %}
    {% else %}
    <p>Пока что здесь пусто:'(</p>
    {% endif %}
</div>
        </div>
{% endblock %}