{% extends 'base.html' %}

{% block title %}
Войти
{% endblock %}



{% block body %}
<div class="container mt-5">
    <h1>Войти</h1>
    <form action="" method="post" class="form-control list">
	{{ form.csrf_token }}
	<p>
	    {{ form.username(class="form-control", placeholder="Введите логин") }}
	</p>
	<p>
	    {{ form.password(class="form-control", placeholder="Введите пароль") }}
	</p>
	<p>
	    {{ form.submit(class="btn btn-success") }}
	</p>
    </form>
</div>
{% endblock %}

