{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}



{% block body %}
<div class="container mt-5">
    <h1>{{ article.title }}</h1>
    <div class="alert alert-info">
        <p>{{ article.text }}</p>
        <p><b>Дата: {{ article.date.date() }} Автор: {{ article.author }}
        Редактировал: {{ article.update_author }}</b></p>
        <a href="/profile/{{ article.author }}"
           class="btn btn-warning">Посмотреть
            профиль автора</a>
    </div>
</div>
{% endblock %}

