{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}



{% block body %}
<div class="container mt-5">
    <h1>{{ post.title }}</h1>
    <div class="alert alert-info">
        <p>{{ post.text }}</p>
        <p><b>Дата: {{ post.date.date() }} Автор: {{ post.author }}
        Редактировал: {{ post.update_author }}</b></p>
        <a href="/profile/{{ post.author }}"
           class="btn btn-warning">Посмотреть
            профиль автора</a>
    </div>
</div>
{% endblock %}

