{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block body %}
<div class="container">
    {% if date.role == 'admin' %}
<h1>Имя: 👑{{ date.username }}👑</h1>
    {% else %}
    <h1>Имя: {{ date.username }}{% endif %}</h1>
    <img src="/static/images/{{ date.id }}.jpg" height="175" width="175"
         alt="У пользователя нет аватара">
<h1>Дата регистрации: {{ date.reg_date.date() }}</h1>
<h2>Посты:</h2>
    {% if posts|length > 0 %}
        {% for el in posts %}
        <div class="container alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
                    {% if role == 'admin' %}
        <a href="/posts/{{ el.id }}/update"
           class="btn btn-warning">Редактировать
        </a>
        <a href="/posts/{{ el.id }}/delete"
           class="btn btn-danger">Удалить
        </a>
        {% endif %}
        </div>
        {% endfor %}
    {% else %}
    <p>Пользователь ещё не сделал свой пост :'(</p>
    {% endif %}
    <h2>Редактированные посты:</h2>
        {% if updated_posts|length > 0 %}
        {% for el in updated_posts %}
        <div class="container alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
                    {% if role == 'admin' %}
        <a href="/posts/{{ el.id }}/update"
           class="btn btn-warning">Редактировать
        </a>
        <a href="/posts/{{ el.id }}/delete"
           class="btn btn-danger">Удалить
        </a>
        {% endif %}
        </div>
        {% endfor %}
    {% else %}
    <p>Пользователь ещё не редактировал другие посты :'(</p>
    {% endif %}
    </div>
{% endblock %}